#root {
  /* max-width: 1280px; */
  margin: 0px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
#mainButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.read-the-docs {
  color: #888;
}
pre{
  /* letter-spacing: -0.2em; */
  color: #64ffb7;
  margin: 100px;
  line-height: 1.1em;
}
#resButton{
  margin-inline: 20px;
  color: #64ffb7;
  /* border: 1px solid #64ffb7;; */
}
#resButton:hover{
  background-color: #292929;
}
h4, h3 {
  padding: 0;
  margin: 0;
}
.student{
  padding: 20px;
  /* transition: all .6s ease-in; */
}
.studentSelected {
  background: #898fffa6;
  min-width: 250px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(40, 8, 59, 0.3);
  color: rgb(231, 216, 240);
}
#home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.buttonAndLink{
  display: flex;
  margin: 20px;
  flex-direction: column;
}
select{
  padding: 5px;
  padding-inline: 10px;
  margin-bottom: 20px;
  margin-inline: 20px;
  font-size: 15px;
  background-color: #000000;
  border: 1px solid rgb(25, 40, 41);
}
.selectButton{
  background-color: #000000;
  color: #64ffb7;
  font-size: 18px;
  border: 2px solid rgb(25, 40, 41);
}
#gradeButtonDisabled, #gradeButtonDisabled:hover{
  border: none;
  color: #3b3b3b;
}
.langBuildSelector, #gradeButton{
  color: whitesmoke;
}
.inLine{
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn {
  background-color: transparent;
  padding: 5px;
  height: fit-content;
  color: red;
}

#resultsPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#scores{
  background-color: black;
  margin: 5px;
  border-radius: 20px;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scrollbar-width: none; 
}
textarea{
  margin-bottom: 20px;
  width: 300px;
  min-height: 130px;
  overflow: auto; 
  resize: none;
  background: rgb(189, 174, 202);
  border-radius: 16px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(40, 8, 59, 0.3);
  padding: 20px;
  color: rgb(40, 8, 59);
  font-size: 20px;
}
#duck{
  transform: scale(0.5);
}
#ollamaPrompt{
  overflow: auto;
  scrollbar-width: none; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
  overflow-y: auto;
  width: 50%;
  padding: 30px;
  background: #646cff;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#scores::-webkit-scrollbar-thumb {
  background: #888; /* Example color */
  border-radius: 20px; /* Apply border-radius to the thumb */
}

#qMark {
  margin-bottom: 3px;
  margin-left: 7px;
  color: #64ffb7;
  cursor: pointer;
}
.popups{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popupInfo{
  position: relative;
  padding-top: 30px;
  width: 500px;
  border: 3px dotted #64ffb7;
  display: flex;
  flex-direction: column;
  background-color: #181b1b;
}
.popupInfo>h3 {
  font-family: 'Courier New', Courier, monospace;
}
.popupInfo>pre{
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 60px;
}
.popupClose {
  position: absolute;
  right: 0px;
  top: 7px;
}